<h2>Decks</h2>

<agot-date-range [criteria]="criteria$ | async" [showSort]="false"
                 (rangeChange)="onFilterChange($event)"></agot-date-range>
<agot-player-group-selector [playerGroupId]="selectedGroupId$ | async"
                            (playerGroupChange)="onSelectedGroupChange($event)">
</agot-player-group-selector>
<agot-player-filter [criteria]="criteria$ | async" (playerChange)="onFilterChange($event)"></agot-player-filter>
<agot-faction-filter [criteria]="criteria$ | async" (factionChange)="onFilterChange($event)"></agot-faction-filter>
<agot-agenda-filter [criteria]="criteria$ | async" (agendaChange)="onFilterChange($event)"></agot-agenda-filter>

<agot-spinner [isRunning]="loading$ | async"></agot-spinner>
<agot-decks-table [decks]="decks$ | async"></agot-decks-table>
