<table *ngIf="decks" class="table table-striped">
  <tbody>
  <tr *ngIf="!decks.length">
    <td colspan="3" class="alert alert-warning">No decks? WTF</td>
  </tr>
  <tr *ngFor="let deck of decks">
    <td class="col-xs-3 col-sm-2 col-lg-1">
      <agot-deck-class-badge [deckClass]="deck"></agot-deck-class-badge>
    </td>
    <td class="col-xs-9 col-sm-10 col-lg-11">
      <article>
        <div>
          <small *ngIf="deck.thronesDbId" class="pull-xs-right">[imported]</small>
          <agot-deck-link [deck]="deck"></agot-deck-link>
          <agot-thrones-db-link [deck]="deck"></agot-thrones-db-link>
        </div>
        <div class="small">
          <span class="text-muted pull-xs-right">
            Created
            <time [attr.datetime]="deck.dateCreated" title="{{ deck.dateCreated | amDateFormat: 'LLLL' }}">
              {{ deck.dateCreated | amTimeAgo }}
            </time>
            <span *ngIf="deck.dateCreated !== deck.dateModified"><br>
            Modified <time [attr.datetime]="deck.dateModified" title="{{ deck.dateModified | amDateFormat: 'LLLL' }}">
                {{ deck.dateModified | amTimeAgo }}
              </time></span>
          </span>
          by
          <agot-player-link *ngIf="!!deck.creatorId" [player]="deck.creator"></agot-player-link>
        </div>
      </article>
    </td>
  </tr>
  </tbody>
</table>
