<fieldset>
  <div class="form-group btn-group" data-toggle="buttons">
    <label class="btn btn-primary-outline" [class.active]="deckSelection === deckSelectionType.EXISTING">
      <input type="radio" name="useNewDeck" value="deckSelectionType.EXISTING" autocomplete="off"
             (change)="onDeckSelectTypeChange(deckSelectionType.EXISTING)"> Existing
    </label>
    <label class="btn btn-primary-outline" [class.active]="deckSelection === deckSelectionType.IMPORT">
      <input type="radio" name="useNewDeck" value="deckSelectionType.IMPORT" autocomplete="off"
             (change)="onDeckSelectTypeChange(deckSelectionType.IMPORT)"> Import
    </label>
    <label class="btn btn-primary-outline" [class.active]="deckSelection === deckSelectionType.NEW">
      <input type="radio" name="useNewDeck" value="deckSelectionType.NEW" autocomplete="off"
             (change)="onDeckSelectTypeChange(deckSelectionType.NEW)"> New
    </label>
  </div>
</fieldset>

<div [ngSwitch]="deckSelection">
  <!--existing deck selection-->
  <div *ngSwitchWhen="deckSelectionType.EXISTING">
    <agot-existing-deck-selector [playerId]="playerId" [existingDeck]="existingDeck"
                                 (selectDeck)="onExistingDeckUpdate($event)"></agot-existing-deck-selector>

    <div class="form-group">
      <!--TODO validity-->
      <button type="button" (click)="onExistingDeckSelect()" class="btn btn-success" [disabled]="!existingDeck">
        {{ creating ? 'Add Player' : 'Update' }}
      </button>
    </div>
  </div>
  <div *ngSwitchWhen="deckSelectionType.IMPORT">
    Import from ThronesDB coming soon
    <div class="form-group">
      <!--TODO validity-->
      <button type="submit" class="btn btn-success" [disabled]="true">
        {{ creating ? 'Add Player' : 'Update' }}
      </button>
    </div>
  </div>
  <div *ngSwitchWhen="deckSelectionType.NEW">
    <agot-deck-edit-form (updateDeck)="onNewDeckSelect($event)"
                         [deck]="existingDeck" [creating]="creating"></agot-deck-edit-form>
  </div>
</div>
