<!--my decks selector-->
<div [hidden]="showAllDecks">
  <agot-deck-chooser [decks]="myDecks" [isLoading]="isLoadingMyDecks"
                     (selectDeck)="onDeckSelect($event)"></agot-deck-chooser>
</div>
<!--all decks selector-->
<div [hidden]="!showAllDecks">
  <agot-deck-chooser [decks]="allDecks" [isLoading]="isLoadingAllDecks"
                     (selectDeck)="onDeckSelect($event)"></agot-deck-chooser>
</div>
<div class="form-group btn-group" data-toggle="buttons">
  <label class="btn btn-secondary-outline" [class.active]="!showAllDecks">
    <input type="radio" name="showAllDecks" value="false" autocomplete="off"
           (change)="setShowAllDecks(false)"> Player's decks ({{ myDecks?.length }})
  </label>
  <label class="btn btn-secondary-outline" [class.active]="showAllDecks">
    <input type="radio" name="showAllDecks" value="true" autocomplete="off"
           (change)="setShowAllDecks(true)"> Everyone's decks ({{ allDecks?.length }})
  </label>
</div>
