.faction-body {
  background-repeat: no-repeat;
  background-position: -32% -32%;
  background-size: cover;
}

.faction-body.faction-1 {
  background-image: url(/assets/img/icon1.png);
}

.faction-body.faction-2 {
  background-image: url(/assets/img/icon2.png);
}

.faction-body.faction-3 {
  background-image: url(/assets/img/icon3.png);
}

.faction-body.faction-4 {
  background-image: url(/assets/img/icon4.png);
}

.faction-body.faction-5 {
  background-image: url(/assets/img/icon5.png);
}

.faction-body.faction-6 {
  background-image: url(/assets/img/icon6.png);
}

.faction-body.faction-7 {
  background-image: url(/assets/img/icon7.png);
}

.faction-body.faction-8 {
  background-image: url(/assets/img/icon8.png);
}

.faction-body.faction-9 {
}

.faction-body.faction-10 {
}

.player-title {
  color: white;
  font-weight: bold;
  text-shadow: black 0 0 2px;
}
