<div [class.table-active]="editing"
     class="text-xs-center faction-body faction-{{ gamePlayer.deck?.secondFactionId }}"
     [style.backgroundImage]="gamePlayer.deck?.agendaId && ('url(/assets/img/agenda' + gamePlayer.deck?.agendaId + '.png)')">
  <div class="card-header">
    <img class="card-image-top" src="/assets/img/icon{{ gamePlayer.deck?.factionId }}.png"
         alt="{{ gamePlayer.faction?.name }}">
  </div>
  <div class="card-block player-header">
    <h4 class="card-title player-title">{{ gamePlayer.player?.name }}</h4>
  </div>
  <ul class="list-group list-group-flush" *ngIf="!editing">
    <li class="list-group-item font-weight-bold">
      {{ gamePlayer.deck.title || gamePlayer.deck.fallbackTitle }}<span *ngIf="!gamePlayer.deck.deckId">*</span>
      <!--TODO fancy icon?-->
      <a *ngIf="gamePlayer.deck.thronesDbLink" [href]="gamePlayer.deck.thronesDbLink" target="_blank"
         [title]="gamePlayer.deck.thronesDbLink">TDB</a>
    </li>
    <li class="list-group-item">
      <span>{{ gamePlayer.deck.faction?.name }}</span> /
      {{ gamePlayer.deck.agenda?.title || gamePlayer.deck.secondaryFaction?.name || 'No Agenda' }}
    </li>
  </ul>
  <div class="card-block edit-buttons" *ngIf="editing">
    <agot-deck-selector [existingDeck]="gamePlayer.deck"
                        (updateDeck)="onUpdateDeck($event)" [playerId]="gamePlayer.playerId"></agot-deck-selector>
  </div>
  <div class="card-block edit-buttons" *ngIf="!readOnly">
    <button type="button" class="btn btn-info" (click)="toggleEditing()">{{ editing ? 'Cancel' : 'Change deck' }}
    </button>
    <button type="button" class="btn btn-danger" (click)="onRemove(gamePlayer)">Remove player</button>
  </div>
  <div class="card-footer alert-warning font-weight-bold" *ngIf="gamePlayer.isWinner">
    Winner
  </div>
  <div class="card-footer text-muted" *ngIf="!gamePlayer.isWinner">
    Loser big loser
  </div>
</div>
