<h4>Players</h4>
<!--TODO set handler for pristine/touched on form if values change-->
<table class="table">
  <thead>
  <tr>
    <th>Player</th>
    <th>Faction & Agenda</th>
    <th>Winner</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="!gamePlayers?.length || gamePlayers?.length < 2">
    <th colspan="5" class="alert alert-danger">Need more players over here</th>
  </tr>
  <tr *ngFor="#gamePlayer of gamePlayers; #index=index">
    <td>{{ gamePlayer.player.name }}</td>
    <td>
      <agot-game-player-form [gamePlayer]="gamePlayer"></agot-game-player-form>
    </td>
    <td>
      <input type="radio" name="isWinner" [checked]="gamePlayer.isWinner" value="true" (change)="onWinnerChange(index)">
    </td>
    <td>
      <button type="button" class="btn" (click)="onRemove(gamePlayer)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>

<h5>Add player</h5>
<agot-game-player-form (updatePlayer)="onNewPlayerAdd($event)" *ngIf="addActive"></agot-game-player-form>
