<div [class.table-active]="editing" class="text-xs-center">
  <div class="card-header">
    <img class="card-image-top" src="/assets/img/icon{{ gamePlayer.faction.factionId }}.png"
         alt="{{ gamePlayer.faction.factionName }}">
  </div>
  <div class="card-block">
    <h4 class="card-title">{{ gamePlayer.player.name }}</h4>

    <p class="card-text" *ngIf="!editing">
      {{ gamePlayer.faction.factionName }}<br>
      {{ gamePlayer.agenda?.title || gamePlayer.secondaryFaction?.factionName || 'No Agenda' }}
    </p>
    <div class="card-text" *ngIf="editing">
      <agot-game-player-form [gamePlayer]="gamePlayer"
                             (updatePlayer)="onPlayerUpdate(gamePlayer)"></agot-game-player-form>
    </div>
    <button type="button" class="btn btn-info" (click)="toggleEditing()">{{ editing ? 'Cancel' : 'Edit' }}
    </button>
    <button type="button" class="btn btn-danger" (click)="onRemove(gamePlayer)">Remove</button>
  </div>
  <div class="card-footer text-warning font-weight-bold" *ngIf="gamePlayer.isWinner">
    Winner
  </div>
  <div class="card-footer text-muted" *ngIf="!gamePlayer.isWinner">
    Loser big loser
  </div>
</div>
