<section>
  <div *ngIf="game">
    <h1>{{ editing ?
      game.gameId ? 'Edit' : 'Create'
      : 'View' }} Game</h1>
    <agot-game-form [game]="game" *ngIf="editing" [disabled]="formDisabled"
                    (update)="onSubmit(game)" (cancel)="onCancel()"></agot-game-form>
    <div *ngIf="!editing">
      <!--TODO view game-->
      <blockquote>
        {{ game | json }}
      </blockquote>

      <div>
        <button type="button" class="btn" (click)="onEdit()">Edit</button>
      </div>
    </div>
  </div>
  <div *ngIf="!game">
    <h3 class="error">Game not found</h3>
  </div>
  <div><a [routerLink]="['/Home']">Back to list</a></div>
</section>
