<section>
  <h2>{{ title || 'Games' }}</h2>

  <agot-date-range [showSort]="true" [criteria]="defaultFiltering"
                   [hidden]="hideFilters"
                   (rangeChange)="onDateRangeChange($event)"></agot-date-range>

  <agot-spinner [isRunning]="isLoading"></agot-spinner>

  <div *ngIf="loadingError" class="alert alert-danger">
    Well, shit. {{ loadingError | json }}
    <button type="button" (click)="loadGames(defaultFiltering)">Try again</button>
  </div>

  <agot-games-table [games]="games"></agot-games-table>
</section>
