<section>
  <h2>Games</h2>

  <div *ngIf="loadingError" class="error">
    Well, shit. {{ loadingError | json }}
    <button (click)="loadGames()">Try again</button>
  </div>
  <table *ngIf="games" border="1">
    <thead>
    <tr>
      <th>Date</th>
      <th>Deck type</th>
      <th>Players</th>
      <th>Winner</th>
      <th>Sets</th>
      <th>Controls</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="!games.length">
      <td colspan="8">No games? WTF</td>
    </tr>
    <tr *ngFor="#game of games">
      <td>{{ game.date | amDateFormat: "D MMMM YYYY" }}</td>
      <td>{{ game.deckType.title }}</td>
      <td>
        <div style="display: inline-block;" *ngFor="#gamePlayer of game.gamePlayers">
          {{ gamePlayer.player.name }}<br>
          {{ gamePlayer.faction.factionName }}<br>
          {{ gamePlayer.secondaryFaction?.factionName }}<br>
          {{ gamePlayer.agenda?.title }}<br>
        </div>
      </td>
      <td>{{ (game.gamePlayers | agotFindWinner)?.player?.name }}</td>
      <td>{{ game.coreSetCount }}</td>
      <td>
        <a [routerLink]="['/GameDetails', {id: game.gameId}]">Details</a> |
        <a [routerLink]="['/GameDetails', {id: game.gameId, edit: true}]">Edit</a> |
        Delete
      </td>
    </tr>
    </tbody>
  </table>
</section>
