<h1>Games</h1>

<!--<a [routerLink]="['/Games/New']">Create new</a>-->

<section>
  <h2>Rankings</h2>

  <section>
    <h3>Overall</h3>
    <div>Player ranking</div>
    <div>Faction ranking</div>
    <div>Agenda ranking</div>
  </section>

  <h3>Per quarter</h3>
  <h3>...</h3>
</section>

<section>
  <h2>Games</h2>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Deck type</th>
      <th>Players</th>
      <th>Winner</th>
      <th>Sets</th>
      <th>Controls</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>...</td>
    </tr>
    </tbody>
  </table>
</section>
