
.icon,
.icon-win,
.icon-lose,
.icon-draw {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url(/assets/img/tick.png);
  width: 28px;
  height: 28px;
}

.icon-lose {
  background: url(/assets/img/cross.png);
}
.icon-draw {
  background: url(/assets/img/minus.png);
}
