<section *ngIf="rankings">
  <h3>{{ name }} Rankings</h3>
  <div class="ranking-category">
    <h4>Player ranking</h4>
    <table>
      <tr *ngFor="#ranking of rankings.rankedPlayers; #i = index">
        <td>{{ i + 1 }}.</td>
        <td>{{ ranking.playerName }}</td>
        <td>{{ rankings.playerWinLossRecord[ranking.playerId] }}</td>
      </tr>
    </table>
  </div>
  <div class="ranking-category">
    <h4>Faction ranking</h4>
    <ol>
      <li *ngFor="#ranking of rankings.rankedFactions">{{ ranking.playerName }}</li>
    </ol>
  </div>
  <div class="ranking-category">
    <h4>Agenda ranking</h4>
    <ol>
      <li *ngFor="#ranking of rankings.rankedAgendas">{{ ranking.playerName }}</li>
    </ol>
  </div>
</section>
