<section *ngIf="rankings" class="card">
  <div class="card-header">
    <h3>{{ name }} Rankings
      <span class="pull-xs-right">
        <button type="button" class="btn-sm btn btn-primary-outline" (click)="expanded = !expanded">...</button>
      </span>
    </h3>
  </div>
  <div class="card-block card-deck-wrapper" [hidden]="!expanded">
    <div class="card-deck">

      <div class="card card-block text-xs-left">
        <h4 class="card-title">Player ranking</h4>
        <table class="card-text table">
          <tr *ngFor="#ranking of rankings.rankedPlayers; #i = index">
            <td>{{ i + 1 }}.</td>
            <td>{{ ranking.playerName }}</td>
            <td>
              <span *ngFor="#result of rankings.playerWinLossRecord[ranking.playerId]" class="icon icon-{{ result | lowercase }}">
                {{ result }}
              </span>
            </td>
          </tr>
        </table>
      </div>

      <div class="card card-block text-xs-left">
        <h4 class="card-title">Faction ranking</h4>
        <ol class="card-text">
          <li *ngFor="#ranking of rankings.rankedFactions">{{ ranking.playerName }}</li>
        </ol>
      </div>

      <div class="card card-block text-xs-left">
        <h4 class="card-title">Agenda ranking</h4>
        <ol class="card-text">
          <li *ngFor="#ranking of rankings.rankedAgendas">{{ ranking.playerName }}</li>
        </ol>
      </div>

    </div>
  </div>

</section>
