<section *ngIf="rankings" class="card">
  <div class="card-header">
    <h4>{{ name }} rankings
      <span class="pull-xs-right">
        <button type="button" class="btn-sm btn btn-primary-outline" (click)="expanded = !expanded">...</button>
      </span>
    </h4>
  </div>
  <div [hidden]="!expanded" class="row">

    <div class="col-lg-4">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="5">Players</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#ranking of rankings.rankedPlayers; #i = index"
            [class.table-warning]="i == 0">
          <td class="text-xs-right col-xs-1 col-sm-2">{{ i + 1 }}.</td>
          <td class="col-xs-7 col-sm-4">
            <agot-player-link [player]="ranking"></agot-player-link>
          </td>
          <td class="text-muted small text-xs-right col-xs-2 col-sm-3">{{ ranking.eloRating }}</td>
          <td class="text-xs-right col-xs-2 col-sm-3">
            <div class="player__results">
                <span *ngFor="#result of rankings.playerWinLossRecord[ranking.playerId] | reverse"
                      class="player-result player-result--{{ result | lowercase }}" title="{{ result }}">
                  {{ result }}
                </span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="5">Factions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#ranking of rankings.rankedFactions; #i = index"
            [class.table-warning]="i == 0">
          <td class="col-xs-1 text-xs-right">{{ i + 1 }}.</td>
          <td class="col-xs-2 text-xs-right"><img class="icon" src="/assets/img/icon{{ ranking.playerId }}.png"
                                                  alt="{{ ranking.playerName }}"></td>
          <td class="col-xs-7">
            {{ ranking.playerName }}
          </td>
          <td class="text-muted small text-xs-right col-xs-1">{{ ranking.eloRating }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="5">Agendas</th>
        </tr>
        </thead>
        <tbody class="small">
        <tr *ngFor="#ranking of rankings.rankedAgendas; #i = index"
            [class.table-warning]="i == 0">
          <td class="col-xs-1 text-xs-right">{{ i + 1 }}.</td>
          <td class="col-xs-7">
            {{ ranking.playerName }}
          </td>
          <td class="col-xs-2 text-xs-right">
            <img class="icon" src="/assets/img/agenda{{ ranking.playerId }}.png" alt="{{ ranking.playerName }}">
          </td>
          <td class="text-muted text-xs-right col-xs-1">{{ ranking.eloRating }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</section>
