<form [formGroup]="dateForm" class="form" (submit)="onExecute()">
  <div class="btn-group pull-sm-right" data-toggle="buttons" *ngIf="showSort">
    <label class="btn btn-secondary" [class.active]="(dateForm.value.ascending + '') === 'false'">
      <input type="radio" formControlName="ascending"
             (change)="onExecute()"
             value="false" autocomplete="off"> Oldest first
    </label>
    <label class="btn btn-secondary" [class.active]="(dateForm.value.ascending + '') === 'true'">
      <input type="radio" formControlName="ascending"
             (change)="onExecute()"
             value="true" autocomplete="off"> Newest first
    </label>
  </div>

  <fieldset>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-secondary" [class.active]="dateForm.value.rangeSelection === dateRangeType.THIS_WEEK">
        <input type="radio" formControlName="rangeSelection"
               (change)="onExecute()"
               [value]="dateRangeType.THIS_WEEK" autocomplete="off"> This week
      </label>
      <label class="btn btn-secondary" [class.active]="dateForm.value.rangeSelection === dateRangeType.CURRENT_SEASON">
        <input type="radio" formControlName="rangeSelection"
               (change)="onExecute()"
               [value]="dateRangeType.CURRENT_SEASON" autocomplete="off"> Current season
      </label>
      <label class="btn btn-secondary" *ngFor="let season of seasons$ | async"
             [class.active]="selectedSeason === (season.startDate + ':' + season.endDate)">
        <input type="radio" name="season"
               [value]="(season.startDate + ':' + season.endDate)"
               (change)="onSetSeason(season)"
               autocomplete="off"> {{ season.name }}
      </label>
      <label class="btn btn-secondary" [class.active]="dateForm.value.rangeSelection === dateRangeType.ALL_TIME">
        <input type="radio" formControlName="rangeSelection"
               (change)="onExecute()"
               [value]="dateRangeType.ALL_TIME" autocomplete="off"> All-time
      </label>
      <label class="btn btn-secondary" [class.active]="dateForm.value.rangeSelection === dateRangeType.CUSTOM">
        <input type="radio" formControlName="rangeSelection"
               (click)="showCustomDates = true"
               [value]="dateRangeType.CUSTOM" autocomplete="off"> Custom
      </label>
    </div>

    <div [hidden]="!showCustomDates" class="form-group form-inline">
      <label class="sr-only" for="fromDate">From date</label>
      <div class="input-group">
        <div class="input-group-addon">From</div>
        <input type="date" formControlName="fromDate" class="form-control" id="fromDate">
      </div>
      <label class="sr-only" for="toDate">To date</label>
      <div class="input-group">
        <div class="input-group-addon">To</div>
        <input type="date" formControlName="toDate" class="form-control" id="toDate">
      </div>
      <button type="submit" class="btn btn-outline-primary">Execute</button>
    </div>
  </fieldset>
</form>
