<div *ngIf="playerStats">
  <div *ngIf="playerStats?.overall?.played < 1">
    <div class="m-b-1">
      <code>In this period, {{ player?.name || 'Player' }} has not played.</code>
    </div>
  </div>
  <div *ngIf="playerStats?.overall?.played > 0">
    <agot-played-stats-chart class="col-xs-12" [stats]="playerStats.overall"></agot-played-stats-chart>

    <div class="m-b-1">
      <code>In this period
        {{ player?.name || 'Player' }} has played
        <agot-count [count]="playerStats?.overall?.played"></agot-count>,
        won
        <agot-count [count]="playerStats?.overall?.won"></agot-count>,
        drawn
        <agot-count [count]="playerStats?.overall?.drawn"></agot-count>,
        and lost
        <agot-count [count]="playerStats?.overall?.lost"></agot-count>.
        {{ player?.name || 'Player' }}'s win rate is {{ playerStats?.overall?.winPercentage }}%,
        with a loss rate of {{ playerStats?.overall?.lossPercentage }}%.
      </code>
    </div>

    <agot-player-insights [player]="player"
                          [playerInsights]="playerStats.insights"></agot-player-insights>

    <a [routerLink]="['/Decks', {playerIds:[player.playerId]}]" class="btn btn-success-outline m-b-1">
      See all {{ player.name }}'s decks
    </a>

    <div class="row">
      <agot-stats-table title="Playing as" [statsSet]="playerStats.as"
                        class="col-lg-6 col-xs-12"></agot-stats-table>
      <agot-stats-table title="Playing versus" [statsSet]="playerStats.vs"
                        class="col-lg-6 col-xs-12"></agot-stats-table>
    </div>

    <agot-game-timeline-chart *ngIf="playerStats?.games?.length && player.playerId" [games]="playerStats?.games" [playerId]="player.playerId"></agot-game-timeline-chart>

    <div class="m-b-1">
      <button type="button" class="btn btn-success-outline" (click)="showGames = !showGames">{{ showGames ? 'Hide' : 'Show' }} games</button>
    </div>

    <div class="m-b-1">
      <agot-games-table *ngIf="showGames" [games]="playerStats?.games"></agot-games-table>
    </div>
  </div>
</div>
