<form [ngFormModel]="gamePlayerForm" (ngSubmit)="onSubmit()" class="form">
  <div class="container row">
    <div class="form-group col-md-4 col-xs-12">
      <select class="form-control"
              ngControl="playerId" (change)="onPlayerSelectChange($event.target.value)">
        <option value="">--{{ isLoading ? 'Loading players' : 'Select player' }}--</option>
        <option *ngFor="let player of players | async" [value]="player.playerId">{{ player.name }}</option>
      </select>
    </div>

    <agot-deck-selector *ngIf="gamePlayer?.playerId" [creating]="true" (updateDeck)="onUpdateDeck($event)"
                        class="col-md-8"
                        [playerId]="gamePlayer.playerId"></agot-deck-selector>
  </div>
  <agot-spinner [isRunning]="isLoading"></agot-spinner>
</form>
