:host {
  background-color: #000;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0 16px;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

.header-icon {
  background: url(./assets/img/header.png);
  float: right;
  height: 2.2em;
  margin-top: 0.4em;
  width: 2.2em;
  background-size: cover;
}
