<form [formGroup]="playerGroupForm" (ngSubmit)="onSubmit()" class="form row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-control-label">Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label class="form-control-label">Description</label>
      <input type="url" class="form-control" formControlName="description">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-control-label">Location</label>
      <input type="text" class="form-control" formControlName="location">
    </div>
    <div class="form-group">
      <label class="form-control-label">Country</label>
      <input type="url" class="form-control" formControlName="country">
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!playerGroupForm.valid || !playerGroupForm.dirty">
        Save
      </button>
      <button type="button" class="btn" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>
