<form [ngFormModel]="deckForm" (ngSubmit)="onSubmit()" class="form row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-control-label">Faction</label>
      <select class="form-control" ngControl="factionId" (change)="onDeckClassChange()">
        <option value="">--Select faction---</option>
        <option *ngFor="#faction of factions | async" [value]="faction.factionId">{{ faction.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label">Agenda</label>
      <select class="form-control" ngControl="agendaId" (change)="onDeckClassChange()">
        <option value="">--Select agenda---</option>
        <option *ngFor="#agenda of agendas | async" [value]="agenda.agendaId">{{ agenda.title }}</option>
      </select>
    </div>
    <!--TODO workaround https://github.com/angular/angular/issues/6374-->
    <div class="form-group" [hidden]="!showMore" *ngIf="true">
      <label class="form-control-label">Second Faction</label>
      <select class="form-control" ngControl="secondFactionId" (change)="onDeckClassChange()">
        <option value="">--Select second faction---</option>
        <option *ngFor="#faction of factions | async" [value]="faction.factionId">{{ faction.name }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-control-label">Title</label>
      <input type="text" class="form-control" ngControl="title">
    </div>
    <div class="form-group">
      <label class="form-control-label">ThronesDB Link</label>
      <input type="url" class="form-control" ngControl="thronesDbLink"
             placeholder="http://thronesdb.com/decklist/view/xxxx">
    </div>
    <!--TODO workaround https://github.com/angular/angular/issues/6374-->
    <div class="form-group" [hidden]="!showMore" *ngIf="true">
      <label class="form-control-label">ThronesDB version</label>
      <input type="text" class="form-control" ngControl="thronesDbVersion">
    </div>
  </div>
  <!--<div class="col-xs-2 col-xs-offset-10 text-xs-right">-->
    <!--TODO why this not work on mobile?-->
    <!--<button type="button" class="btn btn-sm btn-primary-outline" (click)="showMore = !showMore">...</button>-->
  <!--</div>-->
  <div class="col-md-12">
    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!deckForm.valid">
        {{ creating ? 'Add Player' : 'Update' }}
      </button>
      <!--TODO cancel button if editing-->
      <button *ngIf="editing" type="button" class="btn" (click)="onCancel()" [hidden]="cancelling">Cancel</button>

      <div [hidden]="!cancelling" class="card card-block alert-warning">
        <p class="card-text">Woah, abandon changes?</p>
        <button type="button" class="btn btn-sm btn-danger" (click)="onCancel(true)">Yep</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="cancelling = false">Whoops</button>
      </div>
    </div>
  </div>
</form>
