<div *ngIf="deck">
  <h2>{{ editing ?
    deck.deckId ? 'Edit' : 'Create'
    : 'View' }} Deck</h2>

  <!--TODO if creating, select player-->
  <agot-deck-edit-form [deck]="deck" *ngIf="editing" [disabled]="formDisabled"
                       [editing]="!!deck.deckId" [creating]="!deck.deckId"
                       (updateDeck)="onSubmit($event)"></agot-deck-edit-form>
  <agot-deck-class-block *ngIf="!editing"
    [deckClass]="deck"></agot-deck-class-block>
  <!--<agot-view-deck *ngIf="!editing" [deck]="deck" (edit)="onEdit()" (deleteDeck)="onDelete()"></agot-view-deck>-->
  <div [hidden]="editing">

    <div>
      <button type="button" class="btn btn-success-outline" (click)="onEdit()">Edit</button>
<!--      <button type="button" class="btn btn-danger-outline" (click)="onDelete()" [hidden]="deleting">Delete</button>

      <div [hidden]="!deleting" class="card card-block alert-warning">
        <p class="card-text">Serious delete deck?</p>
        <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(true)">Yep</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="deleting = false">Whoops</button>
      </div>-->

      <a [routerLink]="['/Decks']" class="btn btn-primary-outline">&laquo; Back </a>
    </div>

  </div>
</div>

<agot-spinner [isRunning]="isLoading"></agot-spinner>

<h3 *ngIf="!isLoading && !deck" class="alert alert-danger">Deck not found</h3>
<h3 *ngIf="loadError" class="alert alert-danger">Disaster {{ loadError | json }}</h3>

<h4 [hidden]="isLoading">Games featuring this deck</h4>
<agot-games-table [games]="deckGames"></agot-games-table>
