<h2>Decks</h2>
<div class="m-b-1">
  <!--TODO create new-->
  <button type="button" [disabled]="true" class="btn btn-primary" [routerLink]="['/NewGameDetails']">Create new deck</button>
  <!--TODO import-->
  <button type="button" [disabled]="true" class="btn btn-primary" [routerLink]="['/NewGameDetails']">Import new deck</button>
</div>

<!--TODO filter by players component-->
<agot-player-filter (playerChange)="onPlayerFilterChange($event)"></agot-player-filter>

<agot-spinner [isRunning]="isLoading"></agot-spinner>
<agot-decks-table [decks]="decks"></agot-decks-table>
