<footer>
  <div class="container small text-muted">
    <p>&copy; Dissyboyfonz except where not</p>
    <p>The information presented on this site about A Game of Thrones: The Card
      Game Second Edition, both literal and graphical, is copyrighted by Fantasy Flight Games. This website is not
      produced, endorsed, supported, or affiliated with Fantasy Flight Games.</p>
    <p>Deck import (and this footer text) courtesy of
      <a href="http://thronesdb.com/" target="_blank">ThronesDB</a>
      <a href="http://thronesdb.com/api/" target="_blank">API</a></p>
    <p class="small">
      We probably use cookies to deliver functionality. If you continue without changing
      your settings, we'll assume you're ok with that. You can find more details <a
      href="https://silktide.com/the-stupid-cookie-law-is-dead-at-last/" target="_blank">here</a>.
    </p>
  </div>
</footer>
