<h3 *ngIf="player$ | async">{{ (player$ | async).name }}</h3>

<agot-date-range [showSort]="false" [criteria]="criteria$ | async"
                 (rangeChange)="onDateRangeChange($event)"></agot-date-range>

<agot-spinner [isRunning]="loading$ | async"></agot-spinner>

<div *ngIf="(playerStats$ | async) && !(loading$ | async)">
  <agot-player-stats [playerStats]="playerStats$ | async" [player]="player$ | async"></agot-player-stats>
</div>

<h3 *ngIf="!(player$ | async) && !(loading$ | async)" class="alert alert-danger">Player not found</h3>

<div class="">
  <a [routerLink]="['/players']" class="btn btn-outline-primary">&laquo; Back to Players</a>
</div>
