<div *ngIf="deckStats">
  <div *ngIf="deckStats?.overall?.played < 1">
    <div class="mb-1">
      <code>{{ deck?.title || 'This deck' }} has not been played.</code>
    </div>
  </div>
  <div *ngIf="deckStats?.overall?.played > 0">
    <agot-played-stats-chart class="col-xs-12" [stats]="deckStats.overall"></agot-played-stats-chart>

    <div class="mb-1">
      <code>{{ deck?.title || 'This deck' }} has been played
        <agot-count [count]="deckStats?.overall?.played"></agot-count>,
        won
        <agot-count [count]="deckStats?.overall?.won"></agot-count>,
        drawn
        <agot-count [count]="deckStats?.overall?.drawn"></agot-count>,
        and lost
        <agot-count [count]="deckStats?.overall?.lost"></agot-count>.
        Its win rate is {{ deckStats?.overall?.winPercentage }}%,
        with a loss rate of {{ deckStats?.overall?.lossPercentage }}%.
      </code>
    </div>

    <div class="row">
      <agot-stats-table title="Played by" [statsSet]="deckStats.as"
                        class="col-lg-6 col-xs-12"></agot-stats-table>
      <agot-stats-table title="Playing versus" [statsSet]="deckStats.vs"
                        class="col-lg-6 col-xs-12"></agot-stats-table>
    </div>

    <agot-game-timeline-chart *ngIf="deckStats?.games?.length && deck?.deckId" [games]="deckStats?.games"
                              [deckId]="deck?.deckId"></agot-game-timeline-chart>

    <div class="mb-1">
      <a [routerLink]="['/games', {deckIds:[deck.deckId]}]" class="btn btn-outline-success mb-1">
        See all {{ deck.title }}'s games
      </a>
    </div>
  </div>
</div>
