<div *ngIf="deck" class="m-b-1">
  <h2>{{ editing ? 'Edit' : 'View' }} Deck</h2>

  <agot-deck-edit-form [deck]="deck" *ngIf="editing"
                       [editing]="!!deck.deckId" [creating]="false"
                       (cancel)="onCancel()" [hidden]="formDisabled"
                       (updateDeck)="onSubmit($event)"></agot-deck-edit-form>

  <!--<agot-view-deck *ngIf="!editing" [deck]="deck"></agot-view-deck>-->

  <div [hidden]="editing">
    <div>
      <button *ngIf="!deck.thronesDbId" type="button" class="btn btn-outline-success" (click)="onEdit()">Edit</button>
      <a [routerLink]="['/decks']" class="btn btn-outline-primary">&laquo; Back to Decks</a>
    </div>
  </div>
</div>

<agot-spinner [isRunning]="isLoadingDeck || isLoadingStats"></agot-spinner>

<h3 *ngIf="!isLoadingDeck && !deck" class="alert alert-danger">Deck not found</h3>
<h3 *ngIf="loadError" class="alert alert-danger">Disaster {{ loadError | json }}</h3>

<h5 [hidden]="isLoadingStats">Deck Stats</h5>
<agot-deck-stats [deck]="deck" [deckStats]="deckStats"></agot-deck-stats>
