<div class="row">
  <div class="col-md-6">
    <p class="text-muted">You can import a <b>published</b> ThronesDB deck below.</p>

    <form [formGroup]="importForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label class="form-control-label">ThronesDB deck id</label>
        <div class="input-group">
          <input type="text" pattern="[0-9]+" class="form-control" formControlName="thronesDbId" placeholder="e.g. 2570">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-warning" [disabled]="!importForm.valid || (loading$ | async)">
              Import Deck
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <agot-spinner [isRunning]="loading$ | async"></agot-spinner>

    <div *ngIf="importedDeck$ | async as importedDeck">
      <agot-deck-class-block [deckClass]="importedDeck"
                             class="card"
                             title="Does this look right?"
                             footerText="{{ importedDeck.thronesDbLink }}"></agot-deck-class-block>
      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="onDeckSelect()">
          Set Deck
        </button>
      </div>
    </div>
  </div>
</div>
