<form [formGroup]="deckForm" (ngSubmit)="onSubmit()" class="form row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-control-label">Faction</label>
      <select class="form-control" formControlName="factionId" (change)="onDeckClassChange()">
        <option value="">--{{ _factions?.length ? 'Select faction' : 'Loading factions' }}---</option>
        <option *ngFor="let faction of factions | async" [value]="faction.factionId">{{ faction.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label">Agenda</label>
      <select class="form-control" formControlName="agendaId" (change)="onDeckClassChange()">
        <option value="">--{{ _agendas?.length ? 'Select agenda' : 'Loading agendas' }}---</option>
        <option *ngFor="let agenda of agendas | async" [value]="agenda.agendaId">{{ agenda.title }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-control-label">Title</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label class="form-control-label">ThronesDB Link</label>
      <input type="url" class="form-control" formControlName="thronesDbLink"
             placeholder="http://thronesdb.com/decklist/view/xxxx">
    </div>
  </div>
  <!--<div class="col-xs-2 col-xs-offset-10 text-xs-right">-->
  <!--TODO why this not work on mobile?-->
  <!--<button type="button" class="btn btn-sm btn-outline-primary" (click)="showMore = !showMore">...</button>-->
  <!--</div>-->
  <div class="col-md-12">
    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!deckForm.valid">
        {{ creating ? 'Add Player' : 'Update' }}
      </button>
      <!--TODO cancel button if editing-->
      <button *ngIf="editing" type="button" class="btn" (click)="onCancel()" [hidden]="cancelling">Cancel</button>

      <div [hidden]="!cancelling" class="card card-block alert-warning">
        <p class="card-text">Woah, abandon changes?</p>
        <button type="button" class="btn btn-sm btn-danger" (click)="onCancel()">Yep</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="cancelling = false">Whoops</button>
      </div>
    </div>
  </div>
</form>
