<!--TODO add creator player select?-->
<form [formGroup]="deckForm" (ngSubmit)="onSubmit()" class="form row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-control-label">Faction</label>
      <select class="form-control">
        <option value="">--{{ (refDataLoading$ | async) ? 'Loading factions': 'Select faction' }}---</option>
        <option *ngFor="let faction of factions$ | async" [value]="faction.factionId">{{ faction.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label">Agenda</label>
      <select class="form-control">
        <option value="">--{{ (refDataLoading$ | async) ? 'Loading agendas': 'Select agenda' }}---</option>
        <option *ngFor="let agenda of agendas$ | async" [value]="agenda.agendaId">{{ agenda.title }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="form-control-label">Title</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label class="form-control-label">ThronesDB Link</label>
      <input type="url" class="form-control" formControlName="thronesDbLink"
             placeholder="http://thronesdb.com/decklist/view/xxxx">
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!deckForm.valid || !(formDirty$ | async)">
        {{ creating ? 'Add Player' : 'Update' }}
      </button>
      <button *ngIf="editing" type="button" class="btn" (click)="onCancel()" [hidden]="cancelling">Cancel</button>

      <div [hidden]="!cancelling" class="card card-block alert-warning">
        <p class="card-text">Woah, abandon changes?</p>
        <button type="button" class="btn btn-sm btn-danger" (click)="onCancel()">Yep</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="cancelling = false">Whoops</button>
      </div>
    </div>
  </div>
</form>
