<section>
  <h2 [hidden]="loading$ | async">{{ title || 'Games' }}</h2>

  <agot-date-range [showSort]="true" [criteria]="searchQuery$ | async"
                   [hidden]="hideFilters"
                   (rangeChange)="onDateRangeChange($event)"></agot-date-range>

  <agot-spinner [isRunning]="loading$ | async"></agot-spinner>

  <!--<div *ngIf="loadingError" class="alert alert-danger">-->
    <!--Well, shit. {{ loadingError | json }}-->
    <!--<button type="button" (click)="loadGames(criteria)">Try again</button>-->
  <!--</div>-->

  <agot-game-timeline-chart [hidden]="loading$ | async"
                            [games]="games$ | async"></agot-game-timeline-chart>

  <agot-games-table [games]="games$ | async" [hidden]="loading$ | async"></agot-games-table>
</section>
