<table *ngIf="games" class="table table-striped">
  <tbody>
  <tr *ngIf="!games.length">
    <td colspan="3" class="alert alert-warning">No games? WTF</td>
  </tr>
  <tr *ngFor="let game of games">
    <td class="small text-muted col-xs-2">
      <p>
        <time [attr.datetime]="game.date" title="{{ game.date | amDateFormat: 'LLLL' }}">
          {{ game.date | amTimeAgo }}
        </time>
      </p>
      <p>
        {{ game.venue.name }}
      </p>
      <p>
        <a [routerLink]="['/games', game.gameId]">
          [View]
        </a>
      </p>
    </td>
    <td class="card-deck-wrapper col-xs-10">
      <div class="card-deck">
        <div class="card text-xs-center" *ngFor="let gamePlayer of game.gamePlayers">
          <h6 class="card-header font-weight-bold">
            <agot-player-link [player]="gamePlayer.player"></agot-player-link>
          </h6>
          <div class="card-block small">
            <p class="card-text">
              <agot-deck-link [deck]="gamePlayer.deck"></agot-deck-link>
              <span *ngIf="gamePlayer.thronesDbVersion">({{ gamePlayer.thronesDbVersion }})</span>
            </p>
            <p class="card-text">
              <agot-deck-class-badge [deckClass]="gamePlayer.deck"></agot-deck-class-badge>
            </p>
            <div class="alert alert-warning" *ngIf="gamePlayer.isWinner">Winner</div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
