<section>
  <h2 [hidden]="loading$ | async">{{ title || 'Games' }}</h2>

<!--
  <div class="mb-1" *ngIf="!(loading$ | async)">
    <agot-player-group-selector [playerGroupId]="selectedGroupId$ | async"
                                (playerGroupChange)="onSelectedGroupChange($event)"
                                [hidden]="hideFilters">
    </agot-player-group-selector>
  </div>
-->

  <agot-date-range [showSort]="true" [criteria]="searchQuery$ | async"
                   [hidden]="hideFilters"
                   (rangeChange)="onDateRangeChange($event)"></agot-date-range>

  <agot-spinner [isRunning]="loading$ | async"></agot-spinner>

  <agot-game-timeline-chart [hidden]="loading$ | async"
                            [games]="games$ | async"></agot-game-timeline-chart>

  <agot-games-table [games]="games$ | async"></agot-games-table>

  <agot-pagination [criteria]="searchQuery$ | async"
                   [totalRecords]="totalRecords$ | async"
                   [hidden]="hideFilters"
                   [loading]="loading$ | async"
                   (showMore)="onShowMore($event)"></agot-pagination>
</section>
