<section>
  <h2 [hidden]="loading$ | async">{{ title || 'Rankings' }}</h2>

<!--
  <div class="mb-1" *ngIf="!(loading$ | async)">
    <agot-player-group-selector [playerGroupId]="selectedGroupId$ | async"
                                (playerGroupChange)="onSelectedGroupChange($event)"
                                [hidden]="hideFilters">
    </agot-player-group-selector>
  </div>
-->

  <agot-date-range [showSort]="false" [criteria]="criteria$ | async"
                   [hidden]="hideFilters"
                   (rangeChange)="onDateRangeChange($event)"></agot-date-range>

  <agot-spinner [isRunning]="loading$ | async"></agot-spinner>

  <!--<div *ngIf="loadingError" class="alert alert-danger">-->
    <!--Well, shit. {{ loadingError | json }}-->
    <!--<button type="button" (click)="loadRankings(criteria)">Try again</button>-->
  <!--</div>-->

  <agot-rankings-table [rankings]="rankings$ | async" [hidden]="loading$ | async"></agot-rankings-table>
</section>
