$serious-red: #b30001;
$serious-green: #356921;

$font-fam: Tahoma, Roboto, "Helvetica Neue", sans-serif;

:root {
  --primary-colour: $serious-red;
}

// DEFAULT SPINNER //

.home-spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $serious-red;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

// END SPINNER //

.label-button {
  margin-bottom: .5rem;
}

///// BOOTSTRAP VARS /////
$brand-primary: $serious-red;
$brand-success: $serious-green;

$font-family-sans-serif: $font-fam;

$border-radius:          .15rem !default;
$border-radius-lg:       .2rem !default;
$border-radius-sm:       .1rem !default;

//$enable-rounded:            false !default;
$enable-shadows:            true !default;
$enable-gradients:          true !default;
$enable-transitions:        true !default;
//$enable-flex:               false !default;

@import "bootstrap/scss/bootstrap.scss";
