<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-outline-secondary" [class.active]="!showAllDecks">
    <input type="radio" name="showAllDecks" value="false" autocomplete="off"
           (change)="setShowAllDecks(false)"> Player decks ({{ myDecks?.length }})
  </label>
  <label class="btn btn-outline-secondary" [class.active]="showAllDecks">
    <input type="radio" name="showAllDecks" value="true" autocomplete="off"
           (change)="setShowAllDecks(true)"> All ({{ allDecks?.length }})
  </label>
</div>
<!--my decks selector-->
<div *ngIf="!showAllDecks" class="form-group">
  <agot-deck-chooser [decks]="myDecks" [isLoading]="isLoadingMyDecks"
                     [existingDeck]="existingDeck"
                     (selectDeck)="onDeckSelect($event)"></agot-deck-chooser>
</div>
<!--all decks selector-->
<div *ngIf="showAllDecks" class="form-group">
  <agot-deck-chooser [decks]="allDecks" [isLoading]="isLoadingAllDecks"
                     [existingDeck]="existingDeck"
                     (selectDeck)="onDeckSelect($event)"></agot-deck-chooser>
</div>
