<div *ngIf="playerStats">
  <code>You've played {{ playerStats?.games?.length }} times</code>
  <code>You've won {{ playerStats?.overall?.won }} times</code>
  <code>You've drawn {{ playerStats?.overall?.drawn }} times</code>
  <code>You've lost {{ playerStats?.overall?.lost }} times</code>

  <table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
      <th>Playing As</th>
      <th>P</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <!--<th>%</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
      <th colspan="6" class="table-active">Factions</th>
    </tr>
    <tr *ngFor="#entry of playerStats?.factionsAs?.entries()">
      <td>
        <agot-faction-badge [faction]="getFaction(entry[0])"></agot-faction-badge>
      </td>
      <td>{{ entry[1].played }}</td>
      <td>{{ entry[1].won }}</td>
      <td>{{ entry[1].drawn }}</td>
      <td>{{ entry[1].lost }}</td>
      <!--<td>{{ (entry[1].won / entry[1].played) * 100  }}%</td>-->
    </tr>
    <tr>
      <th colspan="6" class="table-active">Agendas</th>
    </tr>
    <tr *ngFor="#entry of playerStats?.agendasAs?.entries()">
      <td>
        <agot-agenda-badge [agenda]="getAgenda(entry[0])"></agot-agenda-badge>
      </td>
      <td>{{ entry[1].played }}</td>
      <td>{{ entry[1].won }}</td>
      <td>{{ entry[1].drawn }}</td>
      <td>{{ entry[1].lost }}</td>
      <!--<td>{{ (entry[1].won / entry[1].played) * 100  }}%</td>-->
    </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
      <th>Playing Versus</th>
      <th>P</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <!--<th>%</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
      <th colspan="6" class="table-active">Players</th>
    </tr>
    <tr *ngFor="#entry of playerStats?.playersVs?.entries()">
      <td>{{ getPlayer(entry[0]).name }}</td>
      <td>{{ entry[1].played }}</td>
      <td>{{ entry[1].won }}</td>
      <td>{{ entry[1].drawn }}</td>
      <td>{{ entry[1].lost }}</td>
      <!--<td>{{ (entry[1].won / entry[1].played) * 100  }}%</td>-->
    </tr>
    <tr>
      <th colspan="6" class="table-active">Factions</th>
    </tr>
    <tr *ngFor="#entry of playerStats?.factionsVs?.entries()">
      <td>
        <agot-faction-badge [faction]="getFaction(entry[0])"></agot-faction-badge>
      </td>
      <td>{{ entry[1].played }}</td>
      <td>{{ entry[1].won }}</td>
      <td>{{ entry[1].drawn }}</td>
      <td>{{ entry[1].lost }}</td>
      <!--<td>{{ (entry[1].won / entry[1].played) * 100  }}%</td>-->
    </tr>
    <tr>
      <th colspan="6" class="table-active">Agendas</th>
    </tr>
    <tr *ngFor="#entry of playerStats?.agendasVs?.entries()">
      <td>
        <agot-agenda-badge [agenda]="getAgenda(entry[0])"></agot-agenda-badge>
      </td>
      <td>{{ entry[1].played }}</td>
      <td>{{ entry[1].won }}</td>
      <td>{{ entry[1].drawn }}</td>
      <td>{{ entry[1].lost }}</td>
      <!--<td>{{ (entry[1].won / entry[1].played) * 100  }}%</td>-->
    </tr>
    </tbody>
  </table>

</div>
