<h3>{{ player.name }}</h3>

<agot-date-range [showSort]="false" [criteria]="defaultFiltering"
                 (rangeChange)="onDateRangeChange($event)"></agot-date-range>

<agot-spinner [isRunning]="isLoading"></agot-spinner>

<div *ngIf="playerStats">
  <agot-player-stats [playerStats]="playerStats" [player]="player"></agot-player-stats>
</div>

<h3 *ngIf="!player" class="alert alert-danger">Player not found</h3>

<div class="">
  <a [routerLink]="['/Players']" class="btn btn-primary-outline">&laquo; Back to list</a>
</div>
