<code>{{ player | json }}</code>

Create player stats page - percentage win for each house and vs each person

for each faction  games played  games won  lost, drawn
for each agenda    ditto
against each other player    ditto
for each deck(?)    ditto

<div *ngIf="playerStats">
  <agot-player-stats [playerStats]="playerStats"></agot-player-stats>
</div>

<h3 *ngIf="!player" class="alert alert-danger">Player not found</h3>

<div class="">
  <a [routerLink]="['/Players']" class="btn btn-primary-outline">&laquo; Back to list</a>
</div>
